body {
    font-family: $roboto-slab;
}
/* for styling selection color */
* {
    &::selection {
        background: $gray-dark;
        color: white;
    }
}

[data-aload] {
    background-image: none !important;
}
/** typing animation **/
.typingAnimation {
    display: none;
}

.cursor-typing {
    &:after {
        content: "|";
        font-size: 1.3em;
    }
}

.cursor-typed {
    &:after {
        width: 100%;
        content: "|";
        font-size: 1.3em;
        @include animation_blink();
    }
}

iframe {
    border: 1px solid $gray;
}

figure {
    margin: 0;
}

table {
    position: relative;
    border-collapse: collapse;

    td,
    th {
        position: relative;
        vertical-align: middle;
        text-overflow: ellipsis;
        border: 1px solid $gray;
        padding: 5px 10px;
    }
}

p {
    > img:not(.emoji) {
        // @media (max-width: $screen-xs-max) {
        max-width: 100%;
        // }
    }
}

a:not(.no-hyphens) {
    // no-hyphens: dont use word-wrap: break-word;
    @include hyphens();
}
// a[target="_blank"]:not(.no-underline) {
//     position: relative;
//     text-decoration: none;
//
//     &:before {
//         content: "";
//         position: absolute;
//         width: 100%;
//         height: 1px;
//         bottom: 0;
//         left: 0;
//         visibility: hidden;
//         transform: scaleX(0);
//         transition: all 0.2s ease;
//         background-color: $blue;
//     }
//
//     &:hover:before {
//         visibility: visible;
//         -webkit-transform: scaleX(1);
//         transform: scaleX(1);
//     }
// }

.content-body {
  margin-top: 30px;
    h3 {
        > a {
            font-size: $font-XS;
        }
    }

    ol > li > a {
        display: inline-block;
        padding: 5px 0;
        width: 100%;
    }
}

.content-body-about-me{
  margin-top: 0;
  .section-about-me{
    margin-top: 0;
    padding-top: 0;
  }
}

.blog-article{
  .container--content{
    padding-bottom: 80px;
  }
  hr{
    border-color: $my_dark-gray;
  }
  .shareWrapper {
      @include clearfix();
      list-style: none;
      margin: 80px auto 0;
      padding: 0;
      width: 100%;
      text-align: center;
      li {
          padding: 20px;
          display: inline-block;
          text-align: center;
          .shareButton {
              display: block;
              margin: 0;
              width: 100%;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;
              color: $my_dark-gray;
              font-size: 2.5em;
          }
      }
  }
}

.top-0 {
    top: 0;
}

.no-padding {
    padding: 0;
}

.author-avatar {
    width: 90%;
    height: auto;
    border-radius: 50%;
    border: 2px solid $my_dark-gray;
    @media (max-width: $screen-sm-min) {
        width: 60%;
    }
    @media (max-width: $screen-xs-min) {
        width: 100%;
    }
}

.hide-on-mobile {
    @media (max-width: $screen-xs-max) {
        display: none;
        //position: absolute;
    }
}

.hide-not-mobile {
    @media (max-width: $screen-xs-max) {
        display: block;
    }
    @media (min-width: $screen-xs-max) {
        display: none;
    }
}

.opacity-0 {
    opacity: 0;

    &::after,
    &::before {
        opacity: 0;
    }
}

.tag {
    color: $gray-dark;
    font-size: $font-XS;
}

.card-shadow {
    //cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);

    &:hover {
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 4px 10px 1px rgba(0, 0, 0, .2);
    }
}
/** homepage **/
.section-backgroundImage .welcome-img {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("/assets/img/rice_paddies.jpg") no-repeat center center;
    background-size: cover;
    @media (max-width: $screen-sm-min) {
        background-position: center right;
    }
    @media (max-width: $screen-xs-min) {
        background: transparent;
    }
}

.section-backgroundImage .welcome-img-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #71fbe6;
    opacity: 0.6;
    @media (max-width: $screen-xs-min) {
        opacity: 1;
    }
}

#welcomeContainer {
    font-family: $title-primary-font;
    background-color: transparent;

    h2 {
        font-weight: normal;
        padding: 0 15px;
        margin: 0;
    }

    .trigger {
        z-index: inherit;
        font-size: 1.2em;
    }
}

.swiper-container {
    width: 100%;
    height: 350px;
    position: relative;

    .swiper-slide {
        cursor: move;
        cursor: grab;

        .swiper-slide-bg {
            background: white no-repeat center center;
            background-size: contain;
            height: 300px;
            width: 100%;
            position: absolute;
            top: 0;
        }
    }

    .caption {
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 35px;
        opacity: 0.7;
        height: $font-M;
        line-height: $font-S;
        font-size: $font-XS;
        padding: 0 15px;

        @media (max-width: $screen-xs-min) {
            bottom: 40px;
            padding: 0 10px;
        }
    }

    .swiper-pagination {
        bottom: 0;

        .swiper-pagination-bullet-active {
            background-color: $green;
        }
    }

    .swiper-button-next{
      background-image: url('/assets/img/others/swiper_next_green.svg');
    }
    .swiper-button-prev{
      background-image: url('/assets/img/others/swiper_before_green.svg');
    }
    @media (min-width: $screen-sm-min) {
        height: 500px;

        .swiper-slide {
            .swiper-slide-bg {
                height: 450px;
            }
        }
    }
    @media (min-width: $screen-md-min) {
        height: 550px;

        .swiper-slide {
            .swiper-slide-bg {
                height: 500px;
            }
        }
    }
}

.filter-projects {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    .button {
        margin: 5px;
        transition: 0.2s all;
    }
}

.wraper {
    padding: 0 10px;
}
/** Masonry **/
.grid-item {
    width: calc(100% - 20px);
    max-height: 500px;
    background: $gray-lightest no-repeat center center;
    background-size: contain;
    margin: 10px;
    transition: box-shadow 0.25s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);

    > img {
        width: 100%;
        max-height: 500px;
        font-size: 0;
        vertical-align: middle;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

        > img {}
    }
    @media (min-width: $screen-sm-min) {
        width: calc(50% - 20px);
    }
    @media (min-width: $screen-md-min) {
        width: calc(33.33% - 20px);
    }
    @media (min-width: $screen-lg-min) {
        width: calc(25% - 20px);
    }

    .grid-item-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        .grid-item-cover-bg {
            opacity: 0;
            background-color: $black;
            transition: opacity 0.25s;
            width: 100%;
            height: 100%;
        }

        .grid-item-cover-content-container {
            display: table;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;

            .grid-item-cover-content {
                display: none;
                vertical-align: middle;
                color: white;

                .project-name {
                    font-size: $font-M;
                    color: $my_green;
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                .project-desc {
                    font-size: $font-XS2;
                }
            }
        }

        &:hover {
            .grid-item-cover-bg {
                opacity: 0.9;
            }

            .grid-item-cover-content {
                display: table-cell;
            }
        }
    }
}
// Remodal Popup

.remodal-bg.remodal-is-opened,
.remodal-bg.remodal-is-opening {
    @media (max-width: $screen-md-min) {
        -webkit-filter: none;
        filter: none;
    }
}

.remodal-wrapper {
    padding: 10px; // need to have padding

    .remodal {
        margin: 0;
        padding: 35px 0 30px;
        max-width: 100%;

        .remodal-close:before {
            font-size: 35px;
            right: 0;
            left: auto;
        }

        .content-container {
            padding: 0 20px;
            font-size: $font-XS2;

            h2 {
                padding-top: 0;
            }

            .sub {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 10px;
                text-align: left;
                font-size: $font-XS2;
                margin-right: 30px;

                &.full-width {
                    width: 100%;
                    text-align: left;
                    padding-left: 20px;
                }
            }

            .sub-title {
                font-weight: bold;
                color: $gray;
            }

            li {
                text-align: left;
                font-size: $font-XS1;
                line-height: $font-S;
            }

            video {
                width: 100%;
                @media (min-width: $screen-sm-min) {
                    &.video_homelessness {
                        width: 70%;
                    }
                }
                @media (max-width: $screen-sm-min) {
                    &.video_homelessness {
                        width: 100%;
                    }
                }
            }

            .video_caption {
                text-align: center;
                width: 100%;
                opacity: 0.7;
                line-height: $font-S;
                font-size: $font-XS;
                padding: 0 10px;
                margin-top: 0;
            }
        }

        .project-try-button {
            color: $my_green;
            border-color: #4ABDAC;
        }
        @media (min-width: $screen-md-min) {
            max-width: 768px;
        }
        @media (min-width: $screen-lg-min) {
            max-width: 900px;
        }
    }
}

.section-about-me {
    background-color: $white;
    color: $my_dark-gray;

    h2 {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 32px;
    }

    hr {
        border-color: $my_dark-gray;
    }

    .about-me-cta {
        margin-top: 30px;
        font-family: $lato;
        font-weight: normal;
        font-size: 20px;
    }
    .aboutme-link{
        color: $my_dark-gray;
        cursor: pointer;
        text-decoration: underline;
    }

    .about-me-text {
        font-family: $lato;
        @media (max-width: $screen-sm-min) {
            margin-top: 20px;
        }

        .aboutme_item {
            text-align: justify;
            display: block;
            padding: 5px 0;
        }
    }
}
// about detail

table.table-aboutme {
    td {
        border: 0;

        .time {}
    }
}

#experience {
    padding-top: 0; //  3.5rem;
    @media (max-width: $screen-sm-min) {
        padding-top: 1rem;
    }
}

.section-about-detail {
    background-color: $my_dark-gray;
    padding: 0 0 3.5rem;
    position: relative;
    z-index: $zIndex-4--posts-wrapper;
    @media (max-width: $screen-xs-min) {
        padding-bottom: 0;
    }

    .container {
        .about-block {
            padding: 0;
            margin: 20px 0;
            color: $white;

            h3 {
                text-align: center;
                color: $green;
                font-weight: bold;
                font-size: 32px;
            }

            hr {
                border-color: $my_green;
            }

            h4 {
                margin-bottom: 10px;
                margin-top: 10px;
                color: $my_green;
                min-height: 27px;

                a {
                    color: $my_green;
                }
            }

            p {
                font-size: $font-XS2;
                margin-top: 10px;
            }

            ul {
                padding: 0;
                margin: 0;
                font-size: $font-XS2;

                &.timeline {
                    font-family: $lato;

                    .timeline-item {
                        margin-bottom: 20px;
                    }

                    .heading-replacement {
                        height: 27px;
                        margin: 10px 0;
                        display: block;
                    }

                    li {
                        width: 100%;
                        list-style: disc outside;
                        display: inline-block;

                        &:last-child {
                            padding-bottom: 0;
                            margin-bottom: 10px;
                        }

                        > div {
                            display: inline-block;
                            position: relative;
                            height: 100px;
                            width: 50%;
                            vertical-align: middle;
                            float: left;
                        }

                        .year {
                            padding: 0 20px 0 0;
                            text-align: right;
                        }

                        .box-content {
                            padding: 0 0 0 20px;
                            border-left: 1px solid $white;

                            ul {
                                margin-left: 15px;
                            }

                            li {
                                display: list-item;

                                span {
                                    position: relative;
                                    left: -5px;

                                    .underline {
                                        text-decoration: underline;
                                        left: 0;
                                    }
                                }
                            }
                        }
                        @media (max-width: $screen-xs-min) {
                            .year {
                                padding: 0 10px 0 0;
                                font-size: $font-XS;
                            }

                            .box-content {
                                padding: 0 0 0 10px;
                            }
                        }
                    }
                }

                &.timeline-mobile {
                    font-family: $lato;
                    list-style: none;

                    .timeline-mobile-item {
                        margin: 30px 0;
                        border-left: 1px solid white;
                        padding-left: 10px;

                        ul {
                            list-style-type: disc;
                            margin-left: 15px;
                            margin-top: 10px;
                            font-size: 14px;

                            .underline {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &.skills {
                    font-family: $lato;
                    padding-left: 25px;
                    margin-bottom: 40px;
                    border-left: 1px solid white;

                    strong {
                        color: $my_green;
                        padding: 0 4px;
                        letter-spacing: 1px;
                        font-weight: regular;
                    }
                }
            }

            &.about-block-skills {
                h4 {
                    margin-top: 20px;
                    font-size: 24px;
                }

                .skill-block {
                    padding: 0;
                }
            }
        }
    }
}

.text-center {
    text-align: center;
}

.not-visible {
    display: none;
}
