<section id="about" class="section--subscribe section-about-me">
    <div class="container animate-opacity opacity-0">
        <div class="section-title">
            <h2  tabindex=0>About Me</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-xs-12 col-sm-12 col-md-6 u-alignCenter u-verticalAlignMiddle">
                    <img class="author-avatar" src="{{ site.avatar }}" height="1434" width="1434" alt="Kristin Baumann Profile Picture"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 about-me-text">
                    {% for aboutme_item in site.data.cv.aboutme %}
                      <span class="aboutme_item">{{ aboutme_item }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="about_me_cta" class="row text-center">
            <span class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 about-me-cta hide-on-mobile">Get to know more about me by browsing through my <a tabindex=0 class="triggerExperience"><strong class="aboutme-link">resume</strong></a>, checking out the projects in my <a tabindex=0 class="triggerPortfolio"><strong class="aboutme-link">portfolio</strong></a>, reading my <a tabindex=0 class="triggerBlog"><strong class="aboutme-link">blog posts</strong></a> and contacting me here:</span>
            <span class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 about-me-cta hide-not-mobile">Get to know more about me by browsing through my <a tabindex=0 href="#experience"><strong class="aboutme-link">resume</strong></a>, checking out the projects in my <a tabindex=0 href="#portfolio"><strong class="aboutme-link">portfolio</strong></a>, reading my <a tabindex=0 href="#blogs"><strong class="aboutme-link">blog posts</strong></a> and contacting me here:</span>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <ul class="socialAccountList icon-large">
                    <li><a href="https://linkedin.com/in/{{ site.author.linkedin }}" class="no-underline" target="_blank" rel="noopener"><i class="fa fa-2x fa-linkedin-square"></i><span class="not-visible">Linked In</span></a></li>
                    <li><a href="https://www.xing.com/profile/{{ site.author.xing }}" class="no-underline" target="_blank" rel="noopener"><i class="fa fa-2x fa-xing-square"></i><span class="not-visible">Xing</span></a></li>
                    <li><a href="mailto:{{ site.author.email }}" class="no-underline"><i class="fa fa-2x fa-envelope" rel="noopener"></i><span class="not-visible">Email</span></a></li>
                    <li><a href="https://twitter.com/{{ site.author.twitter }}" class="no-underline" target="_blank" rel="noopener"><i class="fa fa-2x fa-twitter-square"></i><span class="not-visible">Twitter</span></a></li>
                    <li><a href="https://github.com/{{ site.author.github }}" class="no-underline" target="_blank" rel="noopener"><i class="fa fa-2x fa-github-square"></i><span class="not-visible">Github</span></a></li>
                    <li><a href="https://medium.com/@{{ site.author.medium }}" class="no-underline" target="_blank" rel="noopener"><i class="fa fa-2x fa-medium"></i><span class="not-visible">Medium</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
