<section id="blogs" class="section--postsWrapper">
    <div class="container animate-opacity opacity-0">
        <div class="row">
            <div class="col-sm-12">
                <div class="blockGroup">
                    <div class="section-title">
                        <h2>Blog Posts</h2>
                        <hr>
                    </div>
                    <ul class="blockGroup-list" id="blog-posts-container">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
