<footer class="section--footer">
    <ul class="socialAccountsFooter icon-large">
      <li><a href="https://linkedin.com/in/{{ site.author.linkedin }}" class="no-underline" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i><span class="not-visible">Linked In</a></span></li>
      <li><a href="https://www.xing.com/profile/{{ site.author.xing }}" class="no-underline" target="_blank"><i class="fa fa-2x fa-xing-square"></i><span class="not-visible">Xing</a></span></li>
      <li><a href="mailto:{{ site.author.email }}" class="no-underline"><i class="fa fa-2x fa-envelope"></i><span class="not-visible">Email</span></a></li>
      <li><a href="https://twitter.com/{{ site.author.twitter }}" class="no-underline" target="_blank"><i class="fa fa-2x fa-twitter-square"></i><span class="not-visible">Twitter</a></span></li>
      <li><a href="https://github.com/{{ site.author.github }}" class="no-underline" target="_blank"><i class="fa fa-2x fa-github-square"></i><span class="not-visible">Github</a></span></li>
    </ul>
</footer>
