<footer class="section--footer">
    <ul class="socialAccountsFooter icon-large">
      <li><a href="https://linkedin.com/in/{{ site.author.linkedin }}" class="no-underline" target="_blank" rel="noopener"><i class="fa fa-2x fa-linkedin-square"></i><span class="not-visible">Linked In</span></a></li>
      <li><a href="https://www.xing.com/profile/{{ site.author.xing }}" class="no-underline" target="_blank" rel="noopener"><i class="fa fa-2x fa-xing-square"></i><span class="not-visible">Xing</span></a></li>
      <li><a href="mailto:{{ site.author.email }}" class="no-underline"><i class="fa fa-2x fa-envelope"></i><span class="not-visible">Email</span></a></li>
      <li><a href="https://twitter.com/{{ site.author.twitter }}" class="no-underline" target="_blank" rel="noopener"><i class="fa fa-2x fa-twitter-square"></i><span class="not-visible">Twitter</span></a></li>
      <li><a href="https://github.com/{{ site.author.github }}" class="no-underline" target="_blank" rel="noopener"><i class="fa fa-2x fa-github-square"></i><span class="not-visible">Github</span></a></li>
      <li><a href="https://medium.com/@{{ site.author.medium }}" class="no-underline" target="_blank" rel="noopener"><i class="fa fa-2x fa-medium"></i><span class="not-visible">Medium</span></a></li>
    </ul>
</footer>
