<footer class="section--footer">
    <ul class="socialAccountsFooter icon-large">
        <li><a href="https://linkedin.com/in/{{ site.author.linkedin }}" class="no-underline" target="_blank" alt="Kristin Bauman Linkedin"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
        <li><a href="https://www.xing.com/profile/{{ site.author.xing }}" class="no-underline" target="_blank" alt="Kristin Bauman Xing"><i class="fa fa-2x fa-xing-square"></i></a></li>
        <li><a href="mailto:{{ site.author.email }}" class="no-underline"><i class="fa fa-2x fa-envelope" alt="Kristin Bauman Email"></i></a></li>
        <li><a href="https://twitter.com/{{ site.author.twitter }}" class="no-underline" target="_blank" alt="Kristin Bauman Twitter"><i class="fa fa-2x fa-twitter-square"></i></a></li>
        <li><a href="https://github.com/{{ site.author.github }}" class="no-underline" target="_blank" alt="Kristin Bauman Github"><i class="fa fa-2x fa-github-square"></i></a></li>
    </ul>
</footer>
