<head>
  <link type="text/plain" rel="author" href="{{ site.url_public }}/humans.txt" />
 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">

  <!-- Optimized for search engines -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Twitter card -->
  <meta name="twitter:site" content="@{{ site.author.twitter }}">
  <meta name="twitter:creator" content="@{{ site.author.twitter }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{% if page.image.hero %}{{ page.image.hero| prepend: site.url_public }}{% else %}{{ site.avatar | prepend: site.url_public }}{% endif %}">
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.url_public }}">

  <!-- Open graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
  <meta property="og:type" content="{% if page.date %}blog{% else %}website{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url_public }}">
  <meta property="og:image" content="{% if page.image.hero %}{{ page.image.hero| prepend: site.url_public }}{% else %}{{ site.avatar | prepend: site.url_public }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:locale" content="{{ site.locale }}">

  <!-- <meta property="fb:admins" content="{{ site.fb_admins }}">
  <meta property="fb:app_id" content="{{ site.fb_appid }}"> -->

  <title>{{ site.name }}</title>

  <link rel="manifest" href="./manifest.json">
  <meta name="theme-color" content="#FFFFFF"/>

  <!-- for Windows Tiles -->
  <meta name="msapplication-TileColor" content="#fff"/>
  <meta name="msapplication-square150x150logo" content="{{ site.baseurl }}assets/img/icons/logo-150.png"/>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}assets/img/icons/logo-150.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/img/icons/favicon.ico">

  <!-- inline critical CSS  -->
  <style>
    body {
      opacity: 0;
      -webkit-transition: opacity 0.5s ease;
      -moz-transition: opacity 0.5s ease;
      -ms-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease;
    }
    .menu{opacity:0;}

    {% include main.css %}
   
  </style>

  <!-- modernizer -->
  <script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->

</head>
