<section id="welcome" class="section--first section--about section--fullpage u-table">
  <div class="section-backgroundImage animate-opacity opacity-0">
      <div class="welcome-img"></div>
      <div class="welcome-img-overlay"></div>
  </div>
  <div class="section-gradient section-gradient--lighter animate-opacity opacity-0"></div>
  <div id="welcomeContainer" class="section-title u-tableCell u-verticalAlignMiddle typingAnimation animate-color">
      <div class="container hide" data-delay="500">
          <h2>Hi, I'm <strong>Kristin Baumann</strong>!</h2>
          <div class="postMeta-wrapper">Frontend Developer - Travel Addict - DataVis Lover</div>
      </div>
      <button class="trigger hide"></button>
  </div>
</section>
