<section id="welcome" class="section--first section--about section--fullpage u-table">
  <div class="section-backgroundImage">
      <div class="welcome-img"></div>
      <div class="welcome-img-overlay"></div>
  </div>
  <div class="section-gradient section-gradient--lighter"></div>
  <div id="welcomeContainer" class="section-title u-tableCell u-verticalAlignMiddle">
      <div class="container" data-delay="500">
          <h1>Hi, I'm <strong>Kristin Baumann</strong>.</h1>
          <div class="postMeta-wrapper">Senior Frontend Developer - DataVis Lover</div>
      </div>
      <button class="trigger" aria-label="scroll on page"></button>
  </div>
</section>
