<section id="welcome" class="section--first section--about section--fullpage u-table">
  <div class="section-backgroundImage animate-opacity opacity-0">
      <div class="welcome-img"></div>
      <div class="welcome-img-overlay"></div>
  </div>
  <div class="section-gradient section-gradient--lighter animate-opacity opacity-0"></div>
  <div id="welcomeContainer" class="section-title u-tableCell u-verticalAlignMiddle typingAnimation animate-color">
      <div class="container hide" data-delay="500">
          <h1>Hi, I'm <strong>Kristin Baumann</strong>!</h1>
          <div class="postMeta-wrapper">Frontend Developer - DataVis Lover - Travel Addict</div>
      </div>
      <button class="trigger hide" aria-label="scroll on page"></button>
  </div>
</section>
