<section id="portfolio" class="section--last">
    {% assign projects = site.data.projects.projectsList %}
    <div class="container wraper remodal-bg animate-opacity opacity-0">
        <div class="row">
            <div class="col-sm-12">
                <div class="blockGroup">
                    <div class="section-title">
                        <h2 tabindex=0>Portfolio</h2>
                        <hr>
                    </div>
                </div>
               
                <div id="listProjects">
                    {% for project in projects %}
                    <a tabindex=0 href="#project-{{project.id}}" class="grid-item">
                        <img class="grid-item-image" src="/assets/img/projects/{{project.id}}/{{ project.cover }}" data-aload="/assets/img/projects/{{project.id}}/{{ project.cover }}" alt="{{ project.name }}" />
                        <div class="grid-item-cover">
                            <div class="grid-item-cover-bg"></div>
                            <div class="grid-item-cover-content-container">
                                <div class="grid-item-cover-content">
                                    <div class="project-name">{{ project.name }}</div>
                                    {% if project.topic %}
                                    <div class="project-desc">{{ project.topic }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>

                    <div data-remodal-id="project-{{project.id}}" class="remodal">
                        <button data-remodal-action="close" class="remodal-close"></button>
                        {% if project.pictures %}
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for pic in project.pictures %}
                                <div class="swiper-slide">
                                    <div class="swiper-slide-bg swiper-lazy" data-background="/assets/img/projects/{{project.id}}/{{ pic.url }}">
                                        <div class="swiper-lazy-preloader"></div>
                                    </div>
                                    <div class="caption">{{ pic.caption }}</div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        {% endif %}
                        <div class="content-container">
                            {% if project.link %}
                            <h2 tabindex=0><a href="{{project.link}}" target="_blank" rel="noopener">{{project.name}}</a></h2>
                            {% else %}
                            <h2 tabindex=0>{{project.name}}</h2>
                            {% endif %}

                            {% if project.company %}
                            <div class="sub full-width">
                                <span class="sub-title">Company:</span> {{project.company}}
                            </div>
                            {% endif %}

                            {% if project.client %}
                            <div class="sub full-width">
                                <span class="sub-title">Client:</span> {{project.client}}
                            </div>
                            {% endif %}

                            {% if project.title %}
                            <div class="sub full-width">
                                <span class="sub-title">Title:</span> {{project.title}}
                            </div>
                            {% endif %}

                            {% if project.role %}
                            <div class="sub full-width">
                                <span class="sub-title">Role:</span> {{project.role}}
                            </div>
                            {% endif %}

                            {% if project.responsibility %}
                            <div class="sub full-width">
                                <span class="sub-title">Responsibility:</span> {{project.responsibility}}
                            </div>
                            {% endif %}

                            {% if project.tech %}
                            <div class="sub full-width">
                                <span class="sub-title">Technologies:</span> {{project.tech}}
                            </div>
                            {% endif %}

                            {% if project.source %}
                            <div class="sub full-width">
                                <span class="sub-title">Source code:</span>
                                <a href="{{project.source}}" target="_blank" rel="noopener">{{project.source}}</a>
                            </div>{% endif %}

                            {% for desc in project.description %}
                            <ul>
                              <li>{{desc}}</li>
                            </ul>
                            {% endfor %}
                          </div>

                          {% if project.link %}
                          <a tabindex=0 href="{{project.link}}" target="_blank" rel="noopener" class="button project-try-button">
                            {% if project.buttonText %}
                              {{ project.buttonText }}
                            {% else %}
                              Try Out
                            {% endif %}
                          </a>
                          {% endif %}
                          <button tabindex=0 data-remodal-action="cancel" class="button">close</button>
                      </div>
                    {% endfor %}
        </div>
    </div>
</section>
