<section id="experience" class="section-about-detail">
    {% assign cv = site.data.cv %}
    <div class="container animate-opacity opacity-0 ">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="about-block">
                    <h3 tabindex=0>Working Experience</h3>
                    <hr>
                    <ul class="timeline hide-on-mobile">
                        {% for work in cv.works %}
                        <li class="timeline-item">
                            <div class="year u-table">
                                <div class="u-tableCell u-verticalAlignMiddle">
                                    {% if work.company %}
                                    <h4><a href="{{ work.link }}" target="_blank">{{ work.company }}</a></h4>
                                    {% else %}
                                    <span class="heading-replacement"></span>
                                    {% endif %}
                                    <ul>
                                        <li>in {{ work.location }}</li>
                                        <li>{{ work.time }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box-content u-table">
                                <div class="u-tableCell u-verticalAlignMiddle">
                                    <h4 tabindex=0>{{ work.position }}</h4>
                                    <ul>
                                        {% for desc in work.description %}
                                        <li><span>{{ desc }}</span></li>
                                        {% endfor %}
                                        {% if work.technologies %}
                                        <li><span><span class="underline">Technologies:</span> {{ work.technologies }}</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    <ul class="timeline-mobile hide-not-mobile">
                        {% for work in cv.works %}
                        <li class="timeline-mobile-item">
                            <h4>{{ work.position }}</h4>
                            {% if work.company %}
                            <h4><a href="{{ work.link }}" target="_blank">@ {{ work.company }}</a></h4>{% endif %}

                            <p>in {{ work.location }}</p>
                            <p>{{ work.time }}</p>
                            <ul>
                                {% for desc in work.description %}
                                <li><span>{{ desc }}</span></li>
                                {% endfor %}
                                <li><span><span class="underline">Technologies:</span> {{ work.technologies }}</span>
                                </li>
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
