<section id="education" class="section-about-detail">
    {% assign cv = site.data.cv %}
    <div class="container animate-opacity opacity-0">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="about-block">
                    <h3>Education</h3>
                    <hr>
                    <ul class="timeline hide-on-mobile">
                        {% for edu in cv.education %}
                        <li class="timeline-item">
                            <div class="year u-table">
                                <div class="u-tableCell u-verticalAlignMiddle">
                                    <h4><a href="{{ edu.link }}">{{ edu.school }}</a></h4>
                                    <ul>
                                        <li>in {{ edu.location }}</li>
                                        <li>{{ edu.time }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box-content u-table">
                                <div class="u-tableCell u-verticalAlignMiddle">
                                    <h4>{{ edu.degree }}</h4>
                                    <ul>
                                        {% for desc in edu.description %}
                                        <li><span>{{ desc }}</span></li>
                                        {% endfor %}
                                        {% if edu.technologies %}
                                        <li><span><span class="underline">Technologies:</span>{{ edu.technologies }}</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="timeline-mobile hide-not-mobile">
                        {% for edu in cv.education %}
                        <li class="timeline-mobile-item">
                            <h4>{{ edu.school }}</h4>
                            <p>in {{ edu.location }}</p>
                            <p>{{ edu.time }}</p>
                            <ul>
                                {% for desc in edu.description %}
                                <li><span>{{ desc }}</span></li>
                                {% endfor %}
                                {% if edu.technologies %}
                                <li><span><span class="underline">Technologies:</span> {{ edu.technologies }}</span></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
