<!DOCTYPE html>
<html lang="en-us" class="no-js">
  {% include head.html %}
  <body>
    <div class="brand-name-container">
        <div class="brand-name-bg">
        </div>
        <a href="{% if page.url == '/' %}/#top{% else %}/{% endif %}" class="brand-name no-hyphens">
            <span data-hover="Kristin">Kristin</span><span> </span><span data-hover="Baumann">Baumann</span>
        </a>
    </div>

    <a name="top"></a>

    {{ content }}

    {% include footer-scripts.html %}
  </body>
</html>
